section.cv-presentation.container.main-mt
    img.cv-presentation__img(src="https://media.giphy.com/media/eVs7VWHmq98ahS4Ald/giphy.gif", alt="") 
    .cv-presentation-box
        p.cv-presentation__txt Hi! 	&#129306 <br>
            |My name is Roman.
            |I am 33 years old. I am from Belarus, from Mogilev.
            |I am a WEB developer. I do freelance and create my own projects.
            |My huge dream is that I want to work in a large company and create
            | a useful application for people 	&#128578&#128578&#128578. I am at the starting point of my
            | way - I am learning, mastering new tools and improving my skills.
            | I really like it.&#128077 <br>
            | All the best!!!