section.cv-about-me.main-mt
    .cv-about-me-box.container.main-pt 
        h2.title-block Education &#128214
        ul.cv-about-me-items 
            li.cv-about-me__item 
                span.txt_dark 2013 - 
                a(href="http://en.bru.by/")  BELARUSIAN-RUSSIAN UNIVERSITY
            li.cv-about-me__item 
                span.txt_dark 2019 - 
                a(href="https://www.it-courses.by/")  Stormnet (Web-development (Layouts) on HTML and CSS, JavaScript)
            li.cv-about-me__item 
                span.txt_dark 2020 - 
                a(href="https://rs.school/")  RS School (JavaScript/Front-end)
            li.cv-about-me__item 
                span.txt_dark 2021 - 
                a(href="https://www.udemy.com/share/101WCC3@J-RsTXsuHtExqoPhz44VNnf3UdVlrrNidtIGj0qyW7TTKhv93_unUBVcBuQ8db6bYw==/")  UDEMY (The Complete JavaScript + React Course - From Zero to Result)
                span 
            li.cv-about-me__item 
                span.txt_dark 2022 - 
                a(href="https://www.udemy.com/share/102ILc3@eApgbcGdQv58Vj-4OkfVU-ZeSgDYW6Lwa_00yM7YTbi2TLtZ7E2TgXJSNgDZG7vFJQ==/")  UDEMY (NodeJS. Practical course. (Mongo, GraphQL, MySQL, Express))
            li.cv-about-me__item 
                span.txt_dark 2023 - 
                a(href="https://www.udemy.com/share/105bNu3@fCeraaUBfOFoAyB1VHOTopAxTpMlzaMeHslde33yI-U2rfRLWLnhAv9BWrVQacDlmA==/")  UDEMY (Web design in Figma 2023 - from scratch to result, UX/UI basics)
