doctype html
html(lang="en")
    include ../components/head/head.pug
    body
        .wrap.cv
            include ../components/header/header.pug
            main.cv-content
                include ../components/presentation/presentation.pug
                include ../components/about/about.pug
                include ../components/skills/skills.pug
                include ../components/projects/projects.pug
            include ../components/footer/footer.pug
