doctype html
html(lang="en")
    include ../components/head/head.pug
    body
        .wrap.cv
            include ../components/header/header.pug
            main.cv-content
                include ../components/presentation/presentation.pug
                include ../components/about/about.pug
                section.cv-skills.container
                    h2.title-block Skills
                    ul.cv-skills-items 
                        li.cv-skills__item HTML
                section.cv-projects.container
                    h2.title-block My Projects
                    ul.cv-projects-items 
                        li.cv-projects__item HTML
                section.cv-contacts.container
                    img.cv-contacts__img(src="", alt="")
                    .cv-contacts-box
                        h2.title-block Contacts
                        ul.cv-contacts-items 
                            li.cv-contacts__item HTML
            footer.cv-footer.container
