@import var
@import mixins
@import  reset
html
  scroll-behavior: smooth
body
    font-size: 18px
a
    cursor: pointer
.wrap
   width: 100%
.container
    margin: 0 auto
    padding: 0 10px
    max-width: 1200px
.cv-content
    padding: 10px 0
.title-block
    margin-bottom: 20px
    font-size: 2.8em
.txt_dark
    color: $secondary-color-txt
.main-mt
    margin-top: 50px
.main-pt 
    padding-top: 50px
.none
    display: none
.active
    display: flex !important
@import ../components/header/header
@import ../components/presentation/presentation
@import ../components/about/about
@import ../components/skills/skills
@import ../components/projects/projects
@import ../components/contacts/contacts
@import ../components/footer/footer
@import ../components/burger/burger
@import media