footer.cv-footer#contacts
    .container
        include ../contacts/contacts.pug
        .cv-footer-box 
            span 2023
            span by @Samalazoff 
            span Create for you
    script(src="scripts/burger.js") 
    script(src="scripts/media.js")