- var links = [['about me','#about'], ['skills','#skills'], ['projects','#projects'], ['contacts','#contacts']]
nav.cv-nav
    include ../burger/burger
    ul.nav-items
        each link in links
            li.nav-item 
                a.nav-item__link(href= link[1])= link[0]