- var links = ['about me', 'skills', 'projects', 'contacts']
nav.cv-nav
    include ../burger/burger
    ul.nav-items
        each link in links
            li.nav-item 
                a.nav-item__link= link